*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: sans-serif;
}

.portada {
	background-image: url("./img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.portada .logo{
	width: 150px;
	height: 150px;
	margin-bottom: 50px;	
}

.logo img{
	width: 100%;

}

.t1{
	font-size: 24px;
}

.t2{
	font-size: 30px;
}

.t3{
	font-size: 18px;
}

.barra ul{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.barra ul li{
	list-style-type: none;
	line-height: 50px;

}

 
.acerca {
	background-image: url("./img/bg_acerca.jpg");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 350px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	box-sizing: border-box;
}

.acerca .texto{
	margin: 0 50px 0 0;
}
.acerca .texto p{
	font-size: 20px;
	font-weight: 700;
}

.acerca .persona{
	width: 250px;
	border-radius: 500px;
	overflow: hidden;
}

.persona img{
	width: 100%
}

a:link {
	color: #03A9F4;
	text-decoration: none;
}

a:hover {
	color: #01579B;
}

.portafolio {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.portafolio img {
	width: 400px;
	height: 400px;
}

.blog{
	display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
}

.blog h3 {
	font-weight: 600;
		margin: 10px 0;
}

.post {
		width: 256px;
		margin: 10px;
}

.post img{
		width: 256px;
}

.info {
	 display: flex;
    width: 300px;
    flex-wrap: wrap;

    align-items: ;
}

.info img {
	 display: block;
    margin: 10px;
}

.info strong {
	 display: block;
}

.info a {
	 display: flex;
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    flex-direction: row;
}

.contacto {
	padding: 100px 50px 50px 50px;
	display: flex;
  justify-content: space-between;
	background-color: #0D47A1;
}

.formulario {
    display: flex;
    width: 600px;
    color: white;
		flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
/*    padding: 50px 10px ;*/
}
